<!DOCTYPE html>
<html>
<head>
  <title>AngularTodo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <title>Angular2 • TodoMVC</title>
  <!-- <link rel="stylesheet" href="node_modules/todomvc-common/base.css"> -->
  <!-- <link rel="stylesheet" href="node_modules/todomvc-app-css/index.css"> -->
  <script src="node_modules/bower-traceur-runtime/traceur-runtime.js"></script>
  <script src="node_modules/systemjs/dist/system.js"></script>
  <script src="node_modules/store.js/store.js"></script>
  <script src="vendor/angular2.dev.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
